@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');

:root {
    --cor-primaria-1: #D0C4DF;
    --cor-primaria-2: #DCABDF;
    --cor-primaria-3: #DDDDDF;
    --cor-primaria-4: #C792DF;
    --cor-primaria-5: #DDDFDF;

    --cor-segundaria-1: #E2C2C6;
    --cor-segundaria-2:#9C528B;
    

}